.topleft {
	position: absolute;
	text-align: center;
	width: 150px;
	font-size: 18px;
}
#luz_1 {
	bottom: 25%;
	right: 5%;
}
#luz_2 {
	bottom: 20%;
	right: 15%;
}
#cuerpo {
	position: relative;
}
#tabla {
	/*display: none;*/
}
