{% extends "template.html" %}
{% block heading %} My Website! {% endblock %}
{% block body  %}
		<h1>Bienvenido a mi pagina</h1>
		<h2>hasta ahora esta vacio pero ya cargare algo</h2>
		<div class="row">
			<div class="col-sm-4">
				<h3>Camaras</h3>
				<p> Visualizacion de las camaras de la casa</p>
				<a href="#" role="button" class="btn btn-outline-primary">Ir a Camaras</a>
				<hr>
				 <img class="img-fluid" src="{{url_for('static', filename='camaras.jpg')}}" alt="camaras"> 
			</div>
			<div class="col-sm-4">
				<h3>Luces</h3>
				<p> Acceso a los interruptores de las luces</p>
				<a href="#" role="button" class="btn btn-outline-primary">Ir a Luces</a>
				<hr>
				 <img class="img-fluid" src="{{url_for('static', filename='luces.jpg')}}" alt="luces"> 
			</div>
			<div class="col-sm-4">
				<h3>Sensores</h3>        
				<p> Estado de los sensores de las puertas y ventanas del sistema de alarmas</p>
				<a href="#" role="button" class="btn btn-outline-primary">Ir a Sensores</a>
				<hr>
				 <img class="img-fluid" src="{{url_for('static', filename='sensores.jpg')}}" alt="sensores"> 
			</div>
		</div>
		<a href="{{ url_for('more') }}">Ir a otra pagina</a>
{% endblock %}
