{% extends "template.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='luces.css') }}">
	<script src="{{ url_for('static', filename='luces.js') }}"></script>
	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script-->
{% endblock  %}

{% block style %}
	#casa{
		background-image: url('{{url_for('static', filename='home.png')}}');
	}
{% endblock  %}

{% block heading %} Luces {% endblock %}


{% block body  %}
	<a href="{{ url_for('index') }}">Volver a Inicio</a>
	<img src="{{url_for('static', filename='plano.png')}}" width="100%" height="auto">
	<div class="topleft" id = "luz_1"><button type="button" onclick="loadTable(1)" id = "s8" >Luz 1</button></div>
	<div class="topleft" id = "luz_2"><button type="button" onclick="loadTable(2)" id = "s9" >Luz 2</button></div>
	<div class="topleft" id = "html"></div>
	<br>
	<br>
{% endblock %}

{% block table %}
	<table class="table table-striped" id="tabla"></table>
{% endblock %}
