{% extends "template.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='luces.css') }}">
	<script src="{{ url_for('static', filename='luces.js') }}"></script>
	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script-->
{% endblock  %}

{% block heading %} Luces {% endblock %}


{% block body  %}
	<a href="{{ url_for('index') }}">Volver a Inicio</a>
	<br>
	<img src="{{url_for('static', filename='home.png')}}">
	<div class="topleft" id = "luz_1"><button type="button" onclick="turn(8)" id = "l8" >Luz 1</button></div>
	<div class="topleft" id = "luz_2"><button type="button" onclick="turn(9)" id = "l9" >Luz 2</button></div>
	<div class="topleft" id = "html"></div>
	<br>
	<br>
{% endblock %}

{% block table %}
	<table class="table table-striped" id="tabla"></table>
{% endblock %}
