{% extends "template.html" %}
{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='sensores.css') }}">
		<script type="text/javascript"> window.reqURL = 'http://192.168.100.14:5000/valores' </script>
		<script src="{{ url_for('static', filename='sensores.js') }}"></script>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock  %}
{% block style %}
#casa{
	background-image: url('{{url_for('static', filename='plano.png')}}');
}
{% endblock  %}

{% block heading %} Sensores {% endblock %}
{% block body  %}
			<img src="{{url_for('static', filename='plano.png')}}" width="100%" height="auto">
  			<div class="topleft" id = "sensor_1">sensor1</div>
			<div class="topleft" id = "sensor_2">sensor2</div>
  			<div class="topleft" id = "sensor_3">sensor3</div>
			<div class="topleft" id = "sensor_4">sensor4</div>
			<div class="topleft" id = "sensor_5">sensor5</div>
			<div class="topleft" id = "html"></div>
		<a href="{{ url_for('index') }}">Volver a Inicio</a>

{% endblock %}