<!-- <html> -->
{% extends "template.html" %}

{% block head %}
	<script src="{{ url_for('static', filename='sensores.js') }}"></script>
{% endblock  %}

{% block heading %} Sensores {% endblock %}

{% block body  %}
	<a href="{{ url_for('index') }}">Volver a Inicio</a>
	<div class="btn-group btn-group-lg" id="alarma">
		<button type="button" id="s7"></button>
		<button type="button" onclick="activar()" id = "s6"></button>
	</div>
	<img src="{{url_for('static', filename='home.png')}}" class="center">
	<div class="topleft" id = "sensor_1"><button type="button" onclick="loadTable(1)" id = "s1" >Sensor 1</button></div>
	<div class="topleft" id = "sensor_2"><button type="button" onclick="loadTable(2)" id = "s2" >Sensor 2</button></div>
	<div class="topleft" id = "sensor_3"><button type="button" onclick="loadTable(3)" id = "s3" >Sensor 3</button></div>
	<div class="topleft" id = "sensor_4"><button type="button" onclick="loadTable(4)" id = "s4" >Sensor 4</button></div>
	<div class="topleft" id = "sensor_5"><button type="button" onclick="loadTable(5)" id = "s5" >Sensor 5</button></div>
	<div class="topleft" id = "sensor_6"><button type="button" onclick="loadTable(12)" id = "s12" >Sensor 6</button></div>
	<div class="topleft" id = "sensor_7"><button type="button" onclick="loadTable(13)" id = "s13" >Sensor 7</button></div>
	<div class="topleft" id = "sensor_8"><button type="button" onclick="loadTable(14)" id = "s14" >Sensor 8</button></div>
	<div class="topleft" id = "html"></div>
	<br>
	<br>
{% endblock %}
